<div class="p-3 d-flex justify-content-center">
  <% if profile.profile_picture.attached? %>
    <%= image_tag profile.profile_picture.variant(resize_to_limit: [200, nil]), class: "img-thumbnail" %>
  <% end %>
</div>
<ul class="list-group mb-2">
  <li class="list-group-item">Name: <%=profile.first_name%> <%=profile.last_name%></li>
  <li class="list-group-item">Gray Shirt: <%=profile.gray_shirt%></li>
  <li class="list-group-item">Birthday: <%=profile.birthday%></li>
  <li class="list-group-item">Hometown: <%=profile.hometown%></li>
  <li class="list-group-item">Occupation: <%=profile.occupation%></li>
  <li class="list-group-item">Favorite Quote: <%=profile.quote%></li>
  <li class="list-group-item">Cigar Walk Story: <%=profile.other_info%></li>
</ul>