<h2>Your Friends!</h2>
<ul>
<%# show all friendships, friend or pending %>
<% current_user.friends.each do |friend| %>
<li><%= friend.username %> <%= friend.username %>
  <%= link_to "See Profile", user_path(friend) %>
</li>
<% end %>
</ul>
<h2>Find new friends</h2>
<ul>
<%# show all users.  
!need to find way to remove the friends/pending friends %>
  <% @users.each do |user| %>
  <li>
  <%= user.username %> <%= user.username %>
  <%= link_to "See Profile", user_path(user) %>
  </li>
  <% end %>
</ul>
<%= link_to "home", root_path%>