<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
        <h2>Your Friends!</h2>
        <ul class="list-group">
        <%# show all friendships, friend or pending %>
          <% @friends.each do |friend| %>
          <li class="list-group-item">
            <%= render "shared/user", :user => friend %>
          </li>
          <% end %>
        </ul>
      </div>

      <% unless @friend_requests.empty? %>
      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
      <h2>Your Friend Requests!</h2>
        <ul class="list-group">
        <%# show all friendships, friend or pending %>
          <% @friend_requests.each do |friend_request| %>
          <li class="list-group-item">
            <%= render "shared/user", :user => friend_request.user %>
            <div>
              <%= button_to "Accept", friend_request_path(friend_request.id), method: "put" %>
              <%= button_to "Reject", friend_request_path(friend_request.id), method: "delete"  %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
      
      <% unless @pending_friends.empty? %>
      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
        <h2>Your Pending Friends!</h2>
        <ul class="list-group">
        <%# show all friendships, friend or pending %>
          <% @pending_friends.each do |friend| %>
          <li class="list-group-item">
            <%= render "shared/user", :user => friend %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
        <h2>Find new friends</h2>
        <ul class="list-group">
        <%# show all users.  
        !need to find way to remove the friends/pending friends %>
          <% @potential_friends.each do |user| %>
          <li class="list-group-item">
            <%= render "shared/user", :user => user %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>