<div> 
<%# show profile information %>
  <h3>Profile</h3>
  
  <ul>
    <li>Name: <%=@profile.first_name%> <%=@profile.last_name%></li>
    <li>Birthday: <%=@profile.birthday%></li>
    <li>Hometown: <%=@profile.hometown%></li>
    <li>Occupation: <%=@profile.occupation%></li>
    <li>Quote: <%=@profile.quote%></li>
    <li>Other Info: <%=@profile.other_info%></li>
  </ul>
  <% if @user == current_user %>
    <%= link_to "Edit Profile", edit_profile_path %>
  <% end %>
</div>
<%# link to see friends %>
<% if @user == current_user %>
    <%= link_to "Friends", users_path %>
  <% end %>
<%# link to create new post %>
<% if @user == current_user %>
  <div>
    <h3>Got something on your mind?</h3>
    <%= link_to "New Post", new_post_path %>
  </div>
<% end %>
<%# show all previous posts
  !need to limit this to 'recent' posts %>
<div>
  <h3>Timeline</h3>
  <% @user.posts.each do |post| %>
  <h5><%= post.author.username %></h3>
  <p><%= post.body %></p>
  <div>
    <% if post.liked?(current_user) %>
      <%= button_to "like", like_path(post), method: "put", disabled: true %>
    <% else %>
      <%= button_to "like", like_path(post), method: "put" %>
    <% end %>
    <p><%= post.likes.count %> likes</p>
  </div>
  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <h6><%= link_to comment.author.username, user_path(comment.author) %></h6>
        <p><%= comment.body %></p>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>
<%= link_to "Home", root_path %>