<div>
  <h3>Profile</h3>
  <ul>
    <li>Name: <%=@profile.first_name%> <%=@profile.last_name%></li>
    <li>Birthday: <%=@profile.birthday%></li>
    <li>Hometown: <%=@profile.hometown%></li>
    <li>Occupation: <%=@profile.occupation%></li>
    <li>Quote: <%=@profile.quote%></li>
    <li>Other Info: <%=@profile.other_info%></li>
  </ul>
</div>
<div>
  <h3>Timeline</h3>
  <% @user.posts.each do |post| %>
  <h5><%= post.author.profile.first_name %></h3>
  <p><%= post.body %></p>
  <% end %>
</div>
<%= link_to "Home", root_path %>