<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-xs-12">
      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
      <%# show profile information %>
        <h3>Profile</h3>
        <div class="container">
          <div class="row">
            <div class="profile col-12">
              <%= render "profile", :profile => @user.profile %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <% if @user == current_user %>
                <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-secondary", style: "max-width:fit-content" %>
              <% end %>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <% if @user == current_user %>
                <%= link_to "See Friends", users_path, class: "btn btn-primary" %>
              <% elsif current_user.friends.include?(@user) %>
                <p>You two are friends!</p>
              <% elsif current_user.pending_friends.include?(@user) or @user.pending_friends.include?(current_user) %>
                <p>Friend Request Pending</p>
              <% else %>
                <%= button_to "Send Friend Request", friend_requests_path(:friend_id => @user.id), method: "post", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%# link to see friends or button to send request %>
      <% unless @friend_requests.empty? %>
      <div class="">
        <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
        <h2>Your Friend Requests</h2>
          <ul class="list-group">
          <%# show all friendships, friend or pending %>
            <% @friend_requests.each do |friend_request| %>
            <li class="list-group-item d-flex align-items-center">
              <%= render "shared/user", :user => friend_request.user, class: "align-middle" %>
              <div class="d-flex ms-auto">
                <%= button_to "Accept", friend_request_path(friend_request.id), method: "put", class: "btn btn-primary me-2" %>
                <%= button_to "Reject", friend_request_path(friend_request.id), method: "delete", class: "btn btn-secondary"  %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% unless @pending_friends.empty? %>
      <div class="">
        <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
          <h2>Your Pending Friends</h2>
          <ul class="list-group">
          <%# show all friendships, friend or pending %>
            <% @pending_friends.each do |friend| %>
            <li class="list-group-item">
              <%= render "shared/user", :user => friend %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    </div> 
    <%# link to create new post %>
    <div class="col-md-7 col-xs-12">
      <% if @user == current_user %>
        <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
          <h3>Got something on your mind?</h3>
          <%= link_to "New Post", new_post_path, class: "btn btn-secondary", style: "max-width:fit-content" %>
        </div>
      <% end %>
      <%# show all previous posts
        !need to limit this to 'recent' posts %>
      <div>
        <% @user.posts.reverse.each do |post| %>
        <div class="card text-bg-primary bg-opacity-50 p-3 mb-2 shadow"> 
          <%= render "shared/post", :post => post %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>