<div>
  <h3>Profile</h3>
  <ul>
    <li>Name: <%=@profile.first_name%> <%=@profile.last_name%></li>
    <li>Birthday: <%=@profile.birthday%></li>
    <li>Hometown: <%=@profile.hometown%></li>
    <li>Occupation: <%=@profile.occupation%></li>
    <li>Quote: <%=@profile.quote%></li>
    <li>Other Info: <%=@profile.other_info%></li>
  </ul>
</div>
<div>
  <h3>What's on your mind?</h3>
  <% form_with model: @post do |form| %>
  <%= form.label :body, "Say what you need to say, friend" %>
  <%= form.text_area :body %>
  <%= form.submit %>
<% end %>
</div>
<div>
  <h3>Timeline</h3>
  <% @user.posts.each do |post| %>
  <h5><%= post.author.profile.first_name %></h3>
  <p><%= post.body %></p>
  <p><%= post.likes.count %> likes</p>
  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <h6><%= link_to comment.author.profile.first_name, user_path(comment.author) %></h6>
        <p><%= comment.body %></p>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>
<%= link_to "Home", root_path %>