<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-xs-12">
      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
      <%# show profile information %>
        <h3>Profile</h3>
        <div class="container">
          <div class="row">
            <div class="profile col-12">
              <%= render "profile", :profile => @user.profile %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <% if @user == current_user %>
                <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-secondary", style: "max-width:fit-content" %>
              <% end %>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <% if @user == current_user %>
                <%= link_to "See Friends", users_path, class: "btn btn-primary" %>
              <% elsif current_user.friends.include?(@user) %>
                <p>You two are friends!</p>
              <% elsif current_user.pending_friends.include?(@user) or @user.pending_friends.include?(current_user) %>
                <p>Friend Request Pending</p>
              <% else %>
                <%= button_to "Send Friend Request", friend_requests_path(:friend_id => @user.id), method: "post", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%# link to see friends or button to send request %>
      
    </div> 
    <%# link to create new post %>
    <div class="col-md-7 col-xs-12">
      <% if @user == current_user %>
        <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
          <h3>Got something on your mind?</h3>
          <%= link_to "New Post", new_post_path, class: "btn btn-secondary", style: "max-width:fit-content" %>
        </div>
      <% end %>
      <%# show all previous posts
        !need to limit this to 'recent' posts %>
      <div>
        <% @user.posts.reverse.each do |post| %>
        <div class="card text-bg-primary bg-opacity-50 p-3 mb-2 shadow">
          <%= turbo_frame_tag dom_id(post) do %>
            <%= render "shared/post", :post => post %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>