<%= form_with model: comment do |form| %>
  <%= form.text_area :body, placeholder: "Add a comment..." %>
  <%= form.hidden_field :post_id, value: post.id %>
  <%= form.hidden_field :author_id, value: current_user.id %>
  <div>
    <%= form.submit %>
  </div>
<% end %>