<h3><%= link_to post.author.username, user_path(post.author), class: "link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %></h3>
<p><%= post.body %></p>
<div>
  <% if post.liked?(current_user) %>
    <%= button_to "respect", like_path(post), method: "put", disabled: true %>
  <% else %>
    <%= button_to "respect", like_path(post), method: "put" %>
  <% end %>
  <p><%= post.likes.count %> respect</p>
</div>
<div class="ps-3">
  <% post.recent_comments.each do |comment| %>
    <div>
      <%= render "shared/comment", :comment => comment %>
    </div>
  <% end %>
  <div>
    <%= render "shared/comment_form", :comment => @comment, :post => post %>
  </div>
  <div>
  <%= link_to "See All Comments", post_path(post), class: "link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
</div>
</div>