<p><%= link_to post.author.username, user_path(post.author), class: "link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %></p>
<p><%= post.body %></p>
<div class="d-flex mb-2">
  <% if post.liked?(current_user) %>
    <div class="ms-2 d-flex">
      <%= image_tag("snap.png", size: "20x20", class: "me-1") %>
      <p class="ms-2"><%= post.likes.count %> snaps</p>
    </div>
  <% else %>
    <%= button_to image_tag("snap.png", size: "20x20"), like_path(post), method: "put", class: "btn bg-transparent" %>
    <p class="ms-2">Give Respect</p>
  <% end %>
</div>
<div class="ps-3">
  <% post.recent_comments.each do |comment| %>
    <div>
      <%= render "shared/comment", :comment => comment %>
    </div>
  <% end %>
  <div>
    <%= render "shared/comment_form", :comment => @comment, :post => post %>
  </div>
  <div>
  <%= link_to "See All Comments", post_path(post), class: "link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
</div>
</div>