<h1>Welcome to CronBook.</h1>
<h6>Signifying nothing since 1975ish.</h6>
<%= link_to "Your Profile", user_path(current_user) %>
<h2>Recent Posts</h2>
<%# show all the posts
!need to limit this to just posts of friends of the user %>
<% @posts.each do |post| %>
  <h5><%= link_to post.author.profile.first_name, user_path(post.author) %></h3>
  <p><%= post.body %></p>
  <div>
    <%= form_with url: "/likes", method: :post do |form| %>
      <%= form.hidden_field :post_id, value: post.id %>
      <%= form.submit "Like" %>
    <% end %>
    <p><%= post.likes.count %> likes</p>
  </div>
  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <h6><%= link_to comment.author.profile.first_name, user_path(comment.author) %></h6>
        <p><%= comment.body %></p>
      </li>
    <% end %>
  </ul>
<% end %>