<h5><%= link_to @post.author.username, user_path(@post.author) %></h3>
  <p><%= @post.body %></p>
  <div>
    <% if @post.liked?(current_user) %>
      <%= button_to "like", like_path(@post), method: "put", disabled: true %>
    <% else %>
      <%= button_to "like", like_path(@post), method: "put" %>
    <% end %>
    <p><%= @post.likes.count %> likes</p>
  </div>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <h6><%= link_to comment.author.username, user_path(comment.author) %></h6>
        <p><%= comment.body %></p>
      </li>
    <% end %>
    <li>
      <%= form_with model: @comment do |form| %>
        <%= form.text_area :body, value: "Add a comment..." %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <%= form.submit %>
      <% end %>
    </li>
  </ul>