<!DOCTYPE html>
<html>
  <head>
    <title>Cronbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "custom", media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
      <nav class="navbar">
        <div class="container-fluid">
          <p class="fs-1 text-secondary">&#x3A3;&#x3A6;&#x39F;</p>
          <div class="navbar justify-content-end">
            <div class="nav-link">
              <%= link_to "Home", root_path, class: "btn btn-primary me-3" %>
            </div>
            <% if user_signed_in? %>
              <%= link_to "Your Profile", user_path(current_user), class: "nav-item btn btn-primary me-3" %>
            <% end %>
            <%= button_to "log-out", destroy_user_session_path, method: :delete, class: "nav-item btn btn-primary"  %>
          </div>
        </div>
      </nav>
    <%= yield %>
  </body>
</html>
